<md-toolbar color="primary">{{clientId}}</md-toolbar>
<md-card-content >
  <form class="example-form">
    <md-input-container class="example-full-width">
      <input mdInput name="messageId" placeholder="Message Id" disabled [ngModel]="session.messageId">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input mdInput name="connection" placeholder="Connection" disabled [ngModel]="session.connection">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input mdInput name="lastPacket" placeholder="lastPacket" disabled [ngModel]="session.lastPacket">
    </md-input-container>

    <!--<md-radio-group class="example-radio-group" [ngModel]="session.cleanSession">-->
      <!--<md-radio-button class="example-radio-button" [value]="true">True</md-radio-button>-->
      <!--<md-radio-button class="example-radio-button" [value]="false">False</md-radio-button>-->
    <!--</md-radio-group>-->

  </form>
</md-card-content>
