<md-card>
  <md-card-title>Sessions ({{totalSessions}})</md-card-title>
  <md-card-content>
    <md-tab-group>
      <md-tab label="{{sessionsPath.path}}" *ngFor="let sessionsPath of sessionsPaths">
        <table class="highlight">
          <thead>
          <tr>
            <th>Client Ids</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of sessionsPath.sessions">
            <td (click)="openDialog(p)">{{p}}</td>
          </tbody>
        </table>
      </md-tab>
    </md-tab-group>

  </md-card-content>
</md-card>
