<md-card>
  <md-card-title>Sessions ({{eventBusInfo.subscriptions.length}})</md-card-title>
  <md-card-content>
    <table class="highlight">
      <thead>
      <tr>
        <th>Topic</th>
        <th>Session</th>
        <th>QoS</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let supscription of eventBusInfo.subscriptions">
        <td>{{supscription.topic}}</td>
        <td>{{supscription.session}}</td>
        <td>{{supscription.qos}}</td>
      </tbody>
    </table>
  </md-card-content>
</md-card>
